---
import Layout from "@layouts/Layout.astro";
import AboutBanner from "@components/AboutBanner.astro";

---

<Layout title="It Skills" description="IT Skills" keywords="it-skills">
  <section class="about-section">
      <AboutBanner/>
  </section>
</Layout>
